.git
.gitignore

.venv
__pycache__
*.py[cod]
*$py.class

.pytest_cache
.hypothesis
.coverage
.coverage.*
coverage.xml
htmlcov

.env
.env.*
!.env.example

build
dist
wheels
*.egg-info

Dockerfile
.dockerignore
README.md
DESIGN.md
